Repository opentibiabr/otservbr-global-archived, changes with the labels that .github/labeler.yml gives for each.
All labels: source, data, map

.github/labeler.yml:

source: src/**/*
data: data/**/*
map: data/world/**/*

Refactoring door system
  data/lib/tables/door.lua
  data/scripts/actions/door/key_door.lua
Labels: data

feat: quicklooticons
  data/events/scripts/player.lua
  data/modules/scripts/quickloot/quickloot.lua
  src/const.h
  src/item.h
  src/luascript.cpp
  src/protocolgame.cpp
Labels: source, data

Fix in the closing door script
  data/scripts/movements/closing_door.lua
Labels: data

Comments corrections
  data/scripts/actions/door/key_door.lua
Labels: data

Explaining why there is a wrapper class for the lockfree stack
  src/lockfree.h
Labels: source

allocator traits are complaining about OutputMessageAllocator
  src/lockfree.h
  src/outputmessage.cpp
Labels: source

getting rid of OutputMessageAllocator without having multiple instances of lockfree set
  src/lockfree.h
  src/outputmessage.cpp
Labels: source

Update appveyor and vs proj to support vs2019
  .appveyor.yml
  vc14/theforgottenserver.vcxproj
Labels: none

Missing changes on vs proj
  vc14/theforgottenserver.vcxproj
Labels: none

Fix on the closing door
  data/scripts/movements/closing_door.lua
Labels: data

Fix warning
  src/housetile.cpp
  src/housetile.h
Labels: source

Revert "Fix warning"
  src/housetile.cpp
  src/housetile.h
Labels: source

GitHub Actions: Lua syntax check for PRs
  .github/workflows/lua-syntax.yml
Labels: none

adding github action to build on linux
  .github/workflows/main.yml
Labels: none

Change to use develop branch
  .github/workflows/main.yml
Labels: none

resolves #931
  data/events/scripts/player.lua
  src/combat.cpp
  src/events.cpp
  src/player.cpp
  src/weapons.cpp
  src/weapons.h
Labels: source, data

Ajuste no cálculo da proporção do elemento imbuido.
  data/events/scripts/player.lua
Labels: data

Ajuste comentário.
  src/events.cpp
Labels: source

Update config.lua.dist
  config.lua.dist
Labels: none

Update const.h
  src/const.h
Labels: source

Update player.cpp
  src/player.cpp
Labels: source

Ajustes para não aplicar o dano elemental em magias de vocações além do EK.
  src/events.cpp
Labels: source

Resolve #884
  src/game.cpp
  src/game.h
Labels: source

Improve blessings handling
  data/actions/scripts/others/variables/blessingCharms.lua
  data/actions/scripts/others/variables/checkBless.lua
  data/creaturescripts/scripts/adventureblessings.lua
  data/creaturescripts/scripts/others/droploot.lua
  data/global.lua
  data/lib/compat/compat.lua
  data/lib/core/player.lua
  data/modules/scripts/blessings/assets.lua
  data/modules/scripts/blessings/blessings.lua
  data/movements/scripts/quests/cults of tibia/icedeath.lua
  data/movements/scripts/quests/wrath of the emperor/realmTeleport.lua
  data/npc/lib/npcsystem/modules.lua
  data/npc/scripts/Henricus.lua
  data/npc/scripts/Kawill.lua
  data/npc/scripts/Pydar.lua
  data/scripts/talkactions/god/blessstatus.lua
  data/scripts/talkactions/player/bless.lua
  src/luascript.cpp
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: source, data

Update blessings.lua
  data/modules/scripts/blessings/blessings.lua
Labels: data

Feat: Issavi Depot Box (#1002)
  config.lua.dist
  src/const.h
  src/player.cpp
Labels: source

Improved the handling of adding experience (#966)
  data/scripts/talkactions/god/add skill.lua
Labels: data

Fixed some bugs and refactored the door table
  data/lib/tables/door.lua
  data/scripts/actions/door/key_door.lua
Labels: data

Update door.lua
  data/lib/tables/door.lua
Labels: data

Update door.lua
  data/lib/tables/door.lua
Labels: data

Update key_door.lua
  data/scripts/actions/door/key_door.lua
Labels: data

Update player.lua
  data/events/scripts/player.lua
Labels: data

Update weapons.cpp
  src/weapons.cpp
Labels: source

Update weapons.cpp
  src/weapons.cpp
Labels: source

resolves #931 and some other bugs (#1001)
  data/events/scripts/player.lua
  src/combat.cpp
  src/events.cpp
  src/game.cpp
  src/game.h
  src/player.cpp
  src/weapons.cpp
  src/weapons.h
Labels: source, data

Add inventory item glow
  data/creaturescripts/scripts/others/droploot.lua
  data/modules/scripts/blessings/blessings.lua
  src/player.cpp
Labels: source, data

Final fixes
  data/lib/tables/door.lua
  data/scripts/actions/door/key_door.lua
Labels: data

Fixed bug where bless were being removed before experience calc
  data/creaturescripts/scripts/others/droploot.lua
  data/modules/scripts/blessings/blessings.lua
  data/npc/lib/npcsystem/modules.lua
  src/luascript.cpp
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: source, data

Update key_door.lua
  data/scripts/actions/door/key_door.lua
Labels: data

Update key_door.lua
  data/scripts/actions/door/key_door.lua
Labels: data
