Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-11, with the labels that each got.

#1903 Adding increased logs for lua call stack overflows
  src/actions.cpp
  src/chat.cpp
  src/combat.cpp
  src/creatureevent.cpp
  src/events.cpp
  src/globalevent.cpp
  src/luascript.cpp
  src/luascript.h
  src/modules.cpp
  src/monster.cpp
  src/movement.cpp
  src/npc.cpp
  src/raids.cpp
  src/raids.h
  src/spells.cpp
  src/talkaction.cpp
  src/weapons.cpp
Labels: Review: Needed, Test: Needed

#1917 Fixing int_fast16_u overflow
  src/map.cpp
Labels: Review: Needed, Test: Needed

#1919 Adding onPeriodChange to GlobalEvents API
  data/lib/compat/compat.lua
  data/scripts/globalevents/others/spawns_npc_by_time.lua
  src/enums.h
  src/game.cpp
  src/game.h
  src/globalevent.cpp
  src/globalevent.h
  src/luascript.cpp
Labels: Review: Needed, Test: Needed

#1924 Fix #1902 - Prey Loot
  data/scripts/creaturescripts/others/prey_loot.lua
Labels: Review: Completed

#1887 Fix #1789 - Level 200 summon doesn't follow up and down stairs
  src/creature.cpp
Labels: Review: Needed, Test: Needed

#1932 Feat: Event Schedule
  data/XML/events.xml
  data/events/scripts/player.lua
  data/global.lua
  data/lib/core/functions.lua
  src/game.cpp
  src/game.h
  src/luascript.cpp
  src/luascript.h
  src/otserv.cpp
  src/spawn.cpp
Labels: Review: Needed, Test: Needed, Type: Enhancement

#1904 Lion Rod & Wand fix
  data/items/items.xml
  data/lib/core/imbuements.lua
Labels: Review: Needed

#1937 Market Fee - fix
  src/game.cpp
Labels: Review: Needed, Test: Needed

#1944 Prompt wait for a key to close (if gets an error)
  src/otserv.cpp
Labels: Review: Completed, Type: Enhancement

#1946 Improving the issues templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/i-want-to-help.md
  .github/ISSUE_TEMPLATE/map-issues.md
  .github/ISSUE_TEMPLATE/missing-feature.md
  .github/ISSUE_TEMPLATE/missing-wrong-content.md
  .github/ISSUE_TEMPLATE/z-bug-report.md
Labels: Review: Needed, Type: Enhancement

#1942 Removing items amount limitation
  data/items/items.xml
  src/items.cpp
Labels: Priority: High, Review: Needed, Test: Needed

#1938 getDistanceBetween to Position:getDistanceBetween(position)
  data/lib/core/functions.lua
  data/lib/core/position.lua
Labels: Review: Completed

#1933 CorpseId fix
  data/scripts/monsters/humans/dark_monk.lua
  data/scripts/monsters/humans/monk.lua
  data/scripts/monsters/vermins/insect_swarm.lua
Labels: Review: Needed, Test: Needed

#1957 Item Inspection
  src/enums.h
  src/game.cpp
  src/game.h
  src/item.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Review: Completed, Test: Needed

#1960 Highscores
  src/database.cpp
  src/database.h
  src/enums.h
  src/game.cpp
  src/game.h
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
  src/vocation.h
Labels: Review: Needed, Test: Passed

#1936 config.lua houseOwnedByAccount
  config.lua.dist
  src/configmanager.cpp
  src/configmanager.h
  src/house.cpp
  src/house.h
  src/iologindata.h
Labels: Review: Completed, Test: Passed

#1967 Many words in talkactions
  data/scripts/talkactions/god/position.lua
  src/luascript.cpp
  src/talkaction.cpp
  src/talkaction.h
Labels: Review: Completed, Test: Passed

#1974 Fix #1947 Final mission in service o yalahar
  data/scripts/actions/quests/in_service_of_yalahar/last_fight.lua
  data/scripts/monsters/quests/in_service_of_yalahar/azerus2.lua
Labels: Status: Completed, Test: Passed

#1970 Prevent removing items from house if player is not invited
  config.lua.dist
  src/configmanager.cpp
  src/configmanager.h
  src/container.cpp
  src/container.h
  src/cylinder.h
  src/game.cpp
  src/housetile.cpp
  src/housetile.h
  src/mailbox.cpp
  src/mailbox.h
  src/player.cpp
  src/player.h
  src/teleport.cpp
  src/teleport.h
  src/tile.cpp
  src/tile.h
  src/trashholder.cpp
  src/trashholder.h
Labels: Review: Completed, Test: Passed

#1975 Fix: loot item charges
  data/scripts/lib/register_monster_type.lua
Labels: Review: Completed, Test: Passed

#1980 Prevent skill try calculation from underflowing
  src/vocation.cpp
Labels: Review: Needed, Test: Needed

#1979 Release unused outfit taken memory
  src/outfit.cpp
Labels: Review: Needed, Test: Needed

#1966 Refactoring Functions
  data/lib/compat/compat.lua
  src/luascript.cpp
Labels: Review: Needed, Test: Needed

#1978 Fix moveevents:slots and remove functions (getSlotName, setSlotName)
  src/luascript.cpp
  src/movement.h
Labels: Review: Needed, Test: Needed

#1976 Yana cap check with amount
  data/npc/scripts/yana.lua
Labels: Review: Needed, Test: Needed

#1973 Training Enter Bug and More Slots
  data/scripts/custom/movement_trainer_entrance.lua
  data/world/custom/otservbr-custom.otbm
Labels: Review: Needed, Test: Needed

#1822 Convert final actions to revscriptsys
  data/actions/actions.xml
  data/actions/lib/actions.lua
  data/events/scripts/player.lua
  data/scripts/actions/object/imbuement_shrine.lua
  data/scripts/actions/object/market.lua
  data/scripts/actions/object/stash.lua
  data/scripts/actions/other/destroy.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/actions/other/others/quest_system1.lua
  data/scripts/actions/other/others/quest_system2.lua
  data/scripts/actions/other/thais_exhibition.lua
  data/scripts/lib/register_actions.lua
  src/actions.cpp
  src/actions.h
  src/luascript.cpp
  src/luascript.h
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
Labels: Status: Completed, Test: Passed

#1790 Add missing loot monsterTypes for revscriptsys
  data/scripts/lib/register_monster_type.lua
  src/luascript.cpp
  src/luascript.h
  src/monsters.cpp
Labels: Status: Completed

#1999 Cyclopedia -> Characters (Add RecentDeaths and RecentPvPKills support)
  src/enums.h
  src/game.cpp
  src/game.h
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
  src/tools.h
  src/weapons.cpp
Labels: Review: Completed, Status: Completed, Test: Needed

#2001 Optimized Clean with optional Protection Zone Clean
  config.lua.dist
  src/configmanager.cpp
  src/configmanager.h
  src/game.h
  src/map.cpp
  src/tile.cpp
  src/tile.h
Labels: Review: Completed, Status: Completed, Test: Needed

#2004 Remove misspell check
  .github/workflows/reviewdog.yml
Labels: Priority: Low, Status: Completed, Test: Passed, Type: Maintenance

#2009 Fixed the work of the "watch"
  src/game.h
Labels: Priority: High, Status: Completed

#2019 Refactored and reorganized quest system
  data/scripts/actions/system/quest_reward_common.lua
  data/scripts/actions/system/quest_reward_container.lua
  data/scripts/actions/system/quest_reward_key.lua
  data/startup/README.md
  data/startup/tables/chest.lua
Labels: Status: Completed, Test: Passed, Type: Enhancement

#2007 Added news corpses to items.xml
  data/items/items.xml
Labels: Review: Changes Requested, Status: In Progress, Test: Needed

#2003 Fixed urmahlullu to current Tibia version
  data/lib/core/storages.lua
  data/scripts/actions/quests/kilmaresh/leverboss.lua
  data/scripts/creaturescripts/monster/urmahlullu_change.lua
  data/scripts/creaturescripts/monster/urmahlullu_change1.lua
  data/scripts/creaturescripts/monster/urmahlullu_change2.lua
  data/scripts/creaturescripts/monster/urmahlullu_change3.lua
  data/scripts/creaturescripts/monster/urmahlullu_change4.lua
  data/scripts/monsters/quests/kilmaresh/urmahlullu_the_immaculate.lua
  data/scripts/monsters/quests/kilmaresh/urmahlullu_the_tamed.lua
  data/scripts/monsters/quests/kilmaresh/urmahlullu_the_weakened.lua
  data/scripts/monsters/quests/kilmaresh/wildness_of_urmahlullu.lua
  data/scripts/monsters/quests/kilmaresh/wisdom_of_urmahlullu.lua
Labels: Review: Needed, Status: Completed, Test: Needed

#2025 Rework login.lua and added other features
  data/lib/core/storages.lua
  data/migrations/7.lua
  data/migrations/8.lua
  data/scripts/creaturescripts/others/login.lua
  src/game.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Status: Completed
