Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-05, with the labels that each got.

#1143 Add gh workflow vcpkg and xml
  .appveyor.yml
  .github/workflows/build-mac.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/lua-linter.yml
  .github/workflows/lua-syntax.yml
  .github/workflows/xml-syntax.yml
  .travis.yml
  CMakeLists.txt
  README.md
  cmake/FindCryptoPP.cmake
  cmake/FindGMP.cmake
  cmake/FindLua.cmake
  cmake/FindLuaJIT.cmake
  cmake/FindMySQL.cmake
  cmake/FindPugiXML.cmake
  data/creaturescripts/creaturescripts.xml
  data/lib/debugging/lua_version.lua
  data/lib/lib.lua
  data/monster/cults_of_tibia/bosses/summons/containment_machine.xml
  data/movements/movements.xml
  src/configmanager.cpp
  src/luascript.h
  vc14/otservbr-global.vcxproj
Labels: WIP

#1216 Adding limit of summons when using animate dead rune
  data/spells/scripts/support/animate dead rune.lua
Labels: Test: Needed, Type: Bug, Where: Code

#1199 Full Jack to the Future Quest (Research and Development)
  data/actions/lib/actions.lua
  data/actions/scripts/others/construction_kits.lua
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/lib/miscellaneous/050-functions.lua
  data/lib/tables/action_unique.lua
  data/npc/edvard.xml
  data/npc/scripts/jack.lua
  data/npc/scripts/mother_of_jack.lua
  data/npc/scripts/sister_of_jack.lua
  data/npc/scripts/spectulus.lua
Labels: Status: Review Needed, Test: Passed, Type: Missing

#1214 Fix incorrect line break
  data/modules/scripts/blessings/blessings.lua
Labels: Status: Review Needed, Test: Needed, Type: Enhancement, Where: Code

#1223 Fix build in linux
  src/protocolgame.cpp
Labels: OS: Linux, Priority: Critical, Status: Review Needed, Where: Code

#1146 Changing Imbuements formula
  src/game.cpp
Labels: Review: Completed, Test: Passed, Type: Bug, Where: Code

#1230 Change of Npc Hugo dialogue
  data/npc/scripts/hugo.lua
Labels: Priority: Low, Review: Completed, Test: Passed, Where: Code

#1233 Suppress MSVS warning about fopen_s, etc.
  src/definitions.h
Labels: Priority: Low, Review: Needed, Status: Completed, Type: Enhancement, Where: Code

#1241 fix pet death register method + fix missing space between in look
  data/creaturescripts/scripts/others/summon.lua
  data/events/scripts/player.lua
  data/spells/scripts/summon/summons.lua
Labels: Priority: High, Review: Needed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1198 Monster Improvement - Distance Target Choice
  src/monster.cpp
Labels: Priority: Medium, Review: Needed, Test: Needed, Type: Enhancement

#1238 Monster strategies
  src/monster.cpp
  src/monster.h
  src/monsters.cpp
  src/monsters.h
Labels: Status: Completed, Test: Needed, Type: Enhancement

#1243 Fixing coin cloning
  data/modules/scripts/gamestore/init.lua
Labels: Priority: Critical, Status: Completed, Test: Passed, Type: Bug

#1231 Possible fix to decay item
  src/game.cpp
Labels: Priority: High, Test: Passed, Type: Bug, Where: Code

#1200 Blocking corpses to be deleted upon push (fix #1918)
  src/item.h
  src/monster.cpp
Labels: Priority: Medium, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1237 Improving destroy
  data/actions/lib/actions.lua
Labels: Priority: Low, Status: Completed, Test: Passed, Type: Enhancement

#1217 Fixing Sub type problems
  data/lib/core/container.lua
  data/npc/lib/npcsystem/modules.lua
Labels: Status: Completed, Test: Passed, Type: Enhancement, Where: Code

#1236 New control talkactions + spellbook
  data/scripts/actions/spellbook.lua
  data/scripts/talkactions/god/count_monsters.lua
  data/scripts/talkactions/god/getlook.lua
  data/scripts/talkactions/god/gold_highscore.lua
  data/scripts/talkactions/god/set_light.lua
  data/scripts/talkactions/god/spy.lua
Labels: Status: Completed, Test: Passed, Type: Enhancement

#1246 Fix doors cults of tibia and added actions to feyrist shrines
  data/actions/actions.xml
  data/actions/scripts/quests/cults_of_tibia/bosses_levers.lua
  data/actions/scripts/quests/cults_of_tibia/doors.lua
  data/actions/scripts/quests/cults_of_tibia/last_object.lua
  data/actions/scripts/quests/cults_of_tibia/lever_mota.lua
  data/creaturescripts/scripts/quests/cults_of_tibia/bosses_mission_cults.lua
  data/creaturescripts/scripts/quests/cults_of_tibia/minotaur_task_count.lua
  data/globalevents/scripts/others/startup.lua
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/lib/tables/action_unique.lua
  data/movements/scripts/quests/cults_of_tibia/boss_timer.lua
  data/movements/scripts/quests/cults_of_tibia/ice.lua
  data/movements/scripts/quests/cults_of_tibia/ice_death.lua
  data/movements/scripts/quests/cults_of_tibia/looktype.lua
  data/movements/scripts/quests/cults_of_tibia/river_teleport.lua
  data/movements/scripts/quests/cults_of_tibia/tar.lua
  data/npc/scripts/angelo.lua
  data/npc/scripts/denominator.lua
  data/npc/scripts/gareth.lua
  data/npc/scripts/gerimor.lua
  data/npc/scripts/jamesfrancis.lua
  data/npc/scripts/noozer.lua
  data/npc/scripts/tigo.lua
  data/scripts/globalevents/load_attributes.lua
Labels: Priority: Medium, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1268 Healing Crit Fix
  src/combat.cpp
Labels: Priority: High, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1273 Update quests.lua to work with Killing in the Name of...
  data/lib/core/quests.lua
Labels: Priority: High, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1235 New method getDepotLocker
  src/luascript.cpp
  src/luascript.h
Labels: Priority: Low, Review: Completed, Status: Completed, Type: Enhancement, Where: Code

#1201 Improve onKill callback
  src/creature.cpp
  src/creatureevent.cpp
  src/creatureevent.h
Labels: Priority: Medium, Review: Completed, Status: Completed, Type: Enhancement, Where: Code

#1280 Stonerefiners shouldn't see invisible enemies.
  data/monster/cults_of_tibia/stonerefiner.xml
Labels: Priority: Low, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1282 Refactored the door system and fix #1279
  data/actions/scripts/farmine/oberon_lever.lua
  data/lib/core/creature.lua
  data/lib/tables/door.lua
  data/scripts/actions/door/custom_door.lua
  data/scripts/actions/door/key_door.lua
  data/scripts/actions/door/level_door.lua
  data/scripts/actions/door/quest_door.lua
Labels: Priority: Medium, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Type: Enhancement, Where: Code
