Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-08, with the labels that each got.

#1609 Feat: Boosted Creature
  data/creaturescripts/scripts/others/login.lua
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/lib/others/boosted_creature.lua
  data/lib/others/others.lua
  data/migrations/4.lua
  data/migrations/5.lua
  src/spawn.cpp
Labels: Review: Needed, Status: Completed, Test: Needed

#1584 The Cursed Crystal Quest
  data/actions/actions.xml
  data/actions/lib/actions.lua
  data/actions/scripts/quests/the_cursed_crystal/MedusaOil.lua
  data/actions/scripts/quests/the_cursed_crystal/Misc.lua
  data/actions/scripts/quests/the_cursed_crystal/Ointment.lua
  data/actions/scripts/tools/grinder.lua
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/lib/quests/quest.lua
  data/lib/quests/the_cursed_crystal.lua
  data/movements/movements.xml
  data/movements/scripts/quests/the_cursed_crystal/StepIn_CursedCrystal.lua
  data/npc/scripts/one_eyed_joe.lua
  data/startup/tables/item.lua
  data/startup/tables/npc_spawn.lua
  data/startup/tables/teleport.lua
  data/startup/tables/tile.lua
Labels: Review: Needed, Status: Completed, Test: Needed

#1624 Feat: Cobra flask caldron
  data/actions/actions.xml
  data/actions/scripts/others/cobra_flask.lua
  data/lib/core/storages.lua
  data/monster/humans/cobra_assassin.xml
  data/monster/humans/cobra_scout.xml
  data/monster/humans/cobra_vizier.xml
  data/monster/scripts/flask.lua
Labels: Review: Needed, Test: Needed, Type: Enhancement, Where: Map

#1662 Fix 'getCorpseOwner' (a nil value)
  data/modules/scripts/quickloot/quickloot.lua
Labels: Priority: Medium, Review: Completed, Status: Completed, Test: Passed, Type: Bug

#1519 Fix delay in the onUse of runes/potions
  data/actions/scripts/others/potions.lua
  data/global.lua
  src/actions.cpp
  src/game.cpp
  src/player.cpp
  src/player.h
Labels: Priority: High, Review: Needed, Status: On Hold, Test: Passed

#1702 Fix: stash items
  data/items/items.xml
Labels: Priority: Critical, Review: Completed, Status: Completed, Test: Needed

#1710 Fix: stash retrieve
  src/player.cpp
Labels: Priority: Critical, Review: Completed, Status: Completed, Test: Passed
