Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-10, with the labels that each got.

#1801 Protocol 12.51
  config.lua.dist
  data/XML/outfits.xml
  data/items/items.otb
  data/modules/scripts/gamestore/init.lua
  data/modules/scripts/prey_system/prey.lua
  src/definitions.h
  src/otserv.cpp
  src/protocolgame.cpp
Labels: Review: Completed, Status: Completed, Test: Passed

#1829 Fix #1685
  data/npc/scripts/albinius.lua
  data/scripts/movements/quests/first_dragon/entrance_teleport.lua
Labels: Test: Needed

#1800 Optimized Clean with optional Protection Zone Clean
  config.lua.dist
  src/configmanager.cpp
  src/configmanager.h
  src/game.h
  src/map.cpp
  src/tile.cpp
  src/tile.h
Labels: Review: Completed, Test: Passed

#1776 Threatened Dreams Quest
  data/lib/core/functions.lua
  data/lib/core/quests.lua
  data/lib/core/storages.lua
  data/npc/albinius.xml
  data/npc/scripts/a_swan.lua
  data/npc/scripts/ahmet.lua
  data/npc/scripts/albinius.lua
  data/npc/scripts/alkestios.lua
  data/npc/scripts/chief_grarkharok.lua
  data/npc/scripts/ghostly_wolf.lua
  data/npc/scripts/ikassis.lua
  data/npc/scripts/irmana.lua
  data/npc/scripts/tereban.lua
  data/scripts/actions/other/gems.lua
  data/scripts/actions/quests/threatened_dreams/fur_of_a_wolf_whelp.lua
  data/scripts/actions/quests/threatened_dreams/notes_of_a_poacher.lua
  data/scripts/actions/quests/threatened_dreams/poacher_chest.lua
  data/scripts/actions/quests/threatened_dreams/poacher_use.lua
  data/scripts/globalevents/others/spawns_npc_by_time.lua
  data/scripts/movements/quests/threatened_dreams/swan_feathers.lua
  data/scripts/talkactions/player/tibia_timer.lua
  data/startup/tables/chest.lua
  data/startup/tables/corpse.lua
  data/startup/tables/tile.lua
Labels: Review: Completed, Test: Passed

#1845 Fix: pzLocked on field rune (PVP)
  data/spells/spells.xml
  src/spells.cpp
  src/spells.h
Labels: Status: Completed, Test: Needed

#1851 Fix: Magic Wall No pvp
  data/actions/lib/actions.lua
  data/items/items.xml
  data/scripts/runes/magic_wall.lua
  data/scripts/runes/wild_growth.lua
  src/const.h
  src/tile.cpp
Labels: Status: Completed, Test: Passed

#1852 Fix #1840
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: Review: Completed, Test: Passed

#1854 Fix: Exercise Weapons Formula.
  data/actions/scripts/others/exercise_training.lua
Labels: Review: Needed, Test: Needed

#1833 Fix: 'move up' stackable item
  src/game.cpp
Labels: Review: Needed, Status: Completed, Test: Needed

#1860 Remove duplicate register
  src/game.cpp
  src/spawn.cpp
Labels: Review: Needed, Status: Completed

#1884 Fix #1870 - Revscriptsys 'fromPosition' doesnt work
  data/scripts/movements/quests/liquid_black/ladder.lua
  data/scripts/movements/quests/liquid_black/quick_access.lua
  data/scripts/movements/quests/liquid_black/shortcut.lua
  data/scripts/movements/quests/the_secret_library/boat.lua
  data/scripts/movements/quests/the_secret_library/golem_teleport.lua
  data/scripts/movements/quests/the_secret_library/pink_teleport.lua
Labels: Status: Completed, Test: Passed

#1885 Fix #1808 - Correct body of The Sandking
  data/scripts/monsters/quests/cults_of_tibia/bosses/the_sandking.lua
  data/scripts/monsters/quests/cults_of_tibia/bosses/the_sandking_fake.lua
Labels: Review: Needed, Test: Needed

#1896 Removed unnecessary check for applying shootEffects
  src/monsters.cpp
Labels: Review: Needed, Test: Needed

#1782 Feyrist respawn time
  data/scripts/monsters/fey/boogy.lua
  data/scripts/monsters/fey/dark_faun.lua
  data/scripts/monsters/fey/faun.lua
  data/scripts/monsters/fey/pooka.lua
  data/scripts/monsters/fey/twisted_pooka.lua
Labels: Review: Needed, Test: Needed

#1907 Removing redundant flag from monsters "passive"
  data/modules/scripts/bestiary/bestiary.lua
  data/scripts/lib/register_monster_type.lua
  src/luascript.cpp
  src/luascript.h
  src/monster.cpp
  src/monster.h
  src/monsters.cpp
  src/monsters.h
Labels: Review: Needed, Test: Needed

#1913 Fixing respawn type on monsters revsys
  data/scripts/lib/register_monster_type.lua
  data/scripts/monsters/fey/faun.lua
  src/enums.h
  src/luascript.cpp
  src/luascript.h
  src/monster.h
  src/monsters.cpp
  src/monsters.h
  src/tools.cpp
  src/tools.h
Labels: Review: Needed, Test: Needed
