Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-09, with the labels that each got.

#1707 Fix: Hotkey equip on cpp + fixes
  data/modules/modules.xml
  data/modules/scripts/equip_object/equip_object.lua
  src/game.cpp
  src/game.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Review: Needed, Test: Needed

#1754 Correção das formulas de algumas magias.
  data/spells/scripts/attack/avalanche.lua
  data/spells/scripts/attack/berserk.lua
  data/spells/scripts/attack/death strike.lua
  data/spells/scripts/attack/divine caldera.lua
  data/spells/scripts/attack/divine missile.lua
  data/spells/scripts/attack/energy beam.lua
  data/spells/scripts/attack/energy strike.lua
  data/spells/scripts/attack/energy wave.lua
  data/spells/scripts/attack/eternal winter.lua
  data/spells/scripts/attack/ethereal spear.lua
  data/spells/scripts/attack/explosion.lua
  data/spells/scripts/attack/fierce berserk.lua
  data/spells/scripts/attack/fire wave.lua
  data/spells/scripts/attack/fireball.lua
  data/spells/scripts/attack/flame strike.lua
  data/spells/scripts/attack/great energy beam.lua
  data/spells/scripts/attack/great fireball.lua
  data/spells/scripts/attack/groundshaker.lua
  data/spells/scripts/attack/heavy magic missile.lua
  data/spells/scripts/attack/hells core.lua
  data/spells/scripts/attack/holy missile.lua
  data/spells/scripts/attack/ice strike.lua
  data/spells/scripts/attack/ice wave.lua
  data/spells/scripts/attack/icicle.lua
  data/spells/scripts/attack/light magic missile.lua
  data/spells/scripts/attack/physical strike.lua
  data/spells/scripts/attack/rage of the skies.lua
  data/spells/scripts/attack/stalagmite.lua
  data/spells/scripts/attack/stone shower.lua
  data/spells/scripts/attack/sudden death.lua
  data/spells/scripts/attack/terra strike.lua
  data/spells/scripts/attack/terra wave.lua
  data/spells/scripts/attack/thunderstorm.lua
  data/spells/scripts/attack/whirlwind throw.lua
  data/spells/scripts/attack/wrath of nature.lua
  data/spells/scripts/healing/divine healing.lua
  data/spells/scripts/healing/heal friend.lua
  data/spells/scripts/healing/intense healing.lua
  data/spells/scripts/healing/light healing.lua
  data/spells/scripts/healing/mass healing.lua
  data/spells/scripts/healing/ultimate healing.lua
  data/spells/scripts/healing/wound cleansing.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#1762 Update NPC Cassino
  data/npc/scripts/custom/cassino.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#1632 Store Fixes
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  data/startup/others/hireling_lib.lua
Labels: Priority: Medium, Review: Needed, Status: In Progress, Test: Needed

#1761 Add skill rates
  config.lua.dist
  data/actions/scripts/others/exercise_training.lua
  data/events/scripts/player.lua
  data/scripts/talkactions/player/server_info.lua
  data/stages.lua
Labels: Review: Needed, Test: Needed

#1765 Distance Damage Balance
  src/weapons.cpp
Labels: Review: Needed, Status: Completed, Test: Needed

#1771 Fix: The Annihilator Quest
  data/scripts/actions/quests/annihilator/lever.lua
Labels: Review: Needed, Status: Completed, Test: Needed

#1773 Fix: Daily Reward
  data/lib/others/daily_reward_lib.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  src/condition.cpp
  src/const.h
  src/enums.h
  src/player.cpp
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Review: Needed, Status: Completed, Test: Needed

#1781 Fix Soulshroud armor imbue and Dragon Hide imbue
  data/XML/imbuements.xml
  data/lib/core/imbuements.lua
Labels: Review: Needed, Test: Needed

#1783 Fixing ring of souls movement
  data/items/items.xml
  data/movements/movements.xml
  data/npc/scripts/cledwyn.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#1784 Fix miscount of bestiary count when summon dies with master
  data/scripts/creaturescripts/others/bestiary_kill.lua
  src/creature.cpp
  src/creature.h
  src/luascript.cpp
  src/luascript.h
Labels: Review: Completed, Status: Completed, Test: Passed

#1613 Oberon Mechanics
  data/scripts/monsters/quests/the_secret_library/bosses/grand_master_oberon.lua
Labels: Review: Needed, Test: Needed, Type: Enhancement, Where: Code
