Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-06, with the labels that each got.

#1292 Fix to carpets issue
  data/scripts/actions/other/carpets.lua
Labels: Priority: High, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1291 Resolves #1253: add lastday to the account table when purchasing premium in store
  data/modules/scripts/gamestore/init.lua
Labels: Priority: Low, Review: Needed, Status: Completed, Test: Passed, Type: Bug, Where: Code

#1259 Refactor Account Class
  .appveyor.yml
  .editorconfig
  .github/workflows/cpp-linter.yml
  .github/workflows/lua-linter.yml
  .github/workflows/lua-syntax.yml
  CMakeLists.txt
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  data/migrations/0.lua
  schema.sql
  src/account.cpp
  src/account.h
  src/account.hpp
  src/connection.cpp
  src/database.cpp
  src/database.h
  src/databasetasks.cpp
  src/databasetasks.h
  src/definitions.h
  src/enums.h
  src/game.cpp
  src/game.h
  src/iologindata.cpp
  src/iologindata.h
  src/luascript.cpp
  src/otserv.cpp
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocollogin.cpp
  src/waitlist.cpp
  tests/Dockerfile.database
  tests/account_test.cpp
  tests/build_and_run.sh
  tests/catch.hpp
  tests/docker-compose.yaml
  tests/main.cpp
  vc14/otservbr-global.vcxproj
Labels: Priority: Medium, Review: Needed, Status: Completed, Test: Passed, Type: Enhancement, Where: Code

#1251 Failed imbuement fix
  data/events/scripts/player.lua
Labels: Priority: High, Review: Changes Requested, Status: Completed, Test: Passed, Type: Enhancement, Where: Code

#1269 NPC trade ability fixes + other missing npc dialogs
  data/npc/hofech.xml
  data/npc/melfar.xml
  data/npc/scripts/hofech.lua
  data/npc/scripts/king_tibianus.lua
  data/npc/scripts/melchior.lua
  data/npc/scripts/melfar.lua
  data/npc/shanar.xml
Labels: Priority: High, Review: Completed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1248 Summon corrections
  data/creaturescripts/scripts/others/summon.lua
  data/monster/summons/emberwing.xml
  data/monster/summons/grovebeast.xml
  data/monster/summons/skullfrost.xml
  data/monster/summons/thundergiant.xml
  data/spells/scripts/monster/summonchallenge.lua
  data/spells/scripts/support/charge.lua
  data/spells/scripts/support/haste.lua
  data/spells/scripts/support/strong haste.lua
  data/spells/scripts/support/swift foot.lua
  data/spells/spells.xml
Labels: Priority: High, Review: Needed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1307 Several small fixes
  data/actions/actions.xml
  data/actions/scripts/quests/ferumbras_ascendant/flower_puzzle_lever.lua
  data/actions/scripts/quests/ferumbras_ascendant/the_shatterer_lever.lua
  data/actions/scripts/quests/heart_of_destruction/mysterious_remains.lua
  data/lib/core/storages.lua
Labels: Priority: Low, Review: Completed, Status: Completed, Test: Passed, Type: Enhancement, Where: Code

#1060 Fix getMinMaxValues attackSkill with distance weapons
  data/spells/scripts/attack/ethereal spear.lua
  data/spells/scripts/attack/strong ethereal spear.lua
  src/combat.cpp
Labels: Priority: Medium, Review: Needed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1194 Hirelings By Leu (jlcvp)
  data/actions/actions.xml
  data/actions/scripts/others/hireling_food.lua
  data/actions/scripts/others/hirelinglamp.lua
  data/creaturescripts/creaturescripts.xml
  data/creaturescripts/scripts/others/hireling_logout.lua
  data/events/scripts/player.lua
  data/globalevents/globalevents.xml
  data/globalevents/scripts/others/hireling_save.lua
  data/globalevents/scripts/others/startup.lua
  data/items/items.xml
  data/lib/miscellaneous/hireling_lib.lua
  data/lib/miscellaneous/miscellaneous.lua
  data/lib/tables/hireling_items.lua
  data/lib/tables/table.lua
  data/migrations/0.lua
  data/migrations/1.lua
  data/migrations/2.lua
  data/modules/modules.xml
  data/modules/scripts/gamestore/gamestore.lua
  data/modules/scripts/gamestore/init.lua
  data/modules/scripts/hirelings/hireling_module.lua
  data/npc/Hireling.xml
  data/npc/scripts/Hireling.lua
  data/scripts/talkactions/god/create hirelinglamp.lua
  src/luascript.cpp
  src/luascript.h
  src/modules.h
  src/npc.h
  src/player.cpp
  src/protocolgame.cpp
Labels: Review: Completed, Status: Completed, Test: Passed, Type: New, Where: Code

#1158 Print duplicate storages
  data/lib/core/storages.lua
Labels: Priority: High, Review: Completed, Status: Completed, Test: Passed, Type: Enhancement

#1313 Update map from rar to zip
  .github/workflows/build-ubuntu.yml
  docker/Dockerfile.server
Labels: Priority: High, Status: Completed, Test: Passed, Type: Bug

#1312 Add DB account refactor migration and fixes Windows warning
  .editorconfig
  data/migrations/2.lua
  data/migrations/3.lua
  src/account.cpp
  src/game.cpp
  src/xtea.cpp
Labels: Priority: Critical, Review: Needed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1320 Fix migration from older db
  .gitignore
  data/migrations/2.lua
  tests/CMakeLists.txt
Labels: Priority: Critical, Review: Needed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1103 Fix: aleta grav on closed door
  data/spells/scripts/house/edit_door_list.lua
  data/spells/spells.xml
Labels: Priority: Medium, Review: Completed, Status: Completed, Test: Passed, Type: Bug, Type: Enhancement, Where: Code

#1204 Improvement - Npc Callback onRemove
  src/npc.cpp
Labels: Status: Completed, Test: Needed, Type: Enhancement, Where: Code

#1218 Support for countMin in loot
  src/luascript.cpp
  src/luascript.h
  src/monsters.cpp
  src/monsters.h
Labels: Priority: Medium, Review: Completed, Test: Needed, Type: Enhancement, Where: Code

#1330 Fix memory leak, fix build on Ubuntu 20.04 and Debian 10 and update GHA checks
  .editorconfig
  .github/workflows/cpp-linter.yml
  .github/workflows/lua-linter.yml
  CMakeLists.txt
  src/account.cpp
  src/iologindata.cpp
  tests/CMakeLists.txt
Labels: Priority: Critical, Review: Needed, Status: Completed, Test: Needed, Type: Enhancement, Where: Code

#1252 Issue Fix Pack
  data/creaturescripts/scripts/others/summon.lua
  data/events/scripts/player.lua
  data/items/items.xml
  data/npc/scripts/alesar.lua
  data/npc/scripts/yaman.lua
  data/scripts/talkactions/god/create_summon.lua
  data/spells/scripts/summon/summon creature.lua
  data/spells/scripts/summon/summons.lua
  data/spells/scripts/support/animate dead rune.lua
  data/spells/scripts/support/convince_creature.lua
  src/game.cpp
  src/game.h
  src/luascript.cpp
  src/luascript.h
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Priority: Medium, Review: Needed, Status: Completed, Test: Needed, Type: Bug, Where: Code

#1234 Some very useful functions
  data/actions/scripts/quests/lower_roshamuul/resonance_chamber.lua
  data/lib/core/position.lua
  data/lib/core/tables.lua
  data/lib/core/tile.lua
Labels: Status: Completed, Test: Needed, Type: Enhancement

#1347 Fix stacking creatures in a tile
  src/game.cpp
  src/luascript.cpp
  src/map.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
  src/tile.cpp
  src/tile.h
Labels: Review: Completed, Status: Completed, Test: Needed

#1401 fix: Glooth Brigand looktype, resolves #1356
  data/monster/oramond/glooth_brigand.xml
Labels: Status: Completed

#1404 Crackler Transform
  data/creaturescripts/scripts/quests/heart_of_destruction/crackler_transform.lua
Labels: Status: Completed

#1405 Greeting Atrad requires Assassin Outfit
  data/npc/scripts/atrad.lua
Labels: Status: Completed
