Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-07, with the labels that each got.

#1429 Fix bug on the key door script
  data/scripts/actions/door/key_door.lua
Labels: Status: Completed, Test: Passed, Type: Bug

#1398 fix backpack imbuement
  src/game.cpp
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
Labels: Review: Completed, Status: Completed, Test: Passed, Type: Bug

#1396 Protocol 12.20
  data/modules/scripts/blessings/blessings.lua
  src/definitions.h
  src/enums.h
  src/game.cpp
  src/game.h
  src/iologindata.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
  src/tile.cpp
  src/tile.h
Labels: Status: Completed, Test: Passed, Type: Enhancement

#1472 Load custom spawn system
  data/globalevents/scripts/others/map_loading.lua
  data/globalevents/scripts/others/startup.lua
  data/npc/cassino.xml
  data/scripts/custom/movement_npcs_create.lua
  data/scripts/talkactions/god/position.lua
  data/startup/others/functions.lua
  data/startup/tables/additional_map.lua
  data/startup/tables/npc_spawn.lua
  data/world/custom/otservbr-custom-spawn.xml
  data/world/custom/otservbr-custom.otbm
  src/game.cpp
  src/game.h
  src/luascript.cpp
  src/luascript.h
  src/spawn.cpp
  src/spawn.h
Labels: Review: Completed, Status: Completed, Test: Passed

#1446 Adding worldType "retro-pvp" by default
  config.lua.dist
  src/combat.cpp
  src/creature.cpp
  src/game.h
  src/luascript.cpp
  src/otserv.cpp
  src/player.cpp
Labels: Status: Completed, Test: Passed, Type: Enhancement
