Repository opentibiabr/otservbr-global-archived, pull requests merged in 2020-12, with the labels that each got.

#2043 Fix NPC day/night spawn
  data/scripts/globalevents/others/spawns_npc_by_time.lua
  data/startup/tables/npc_spawn.lua
Labels: Status: Completed, Test: Passed

#2045 Fix dawnport sorcerer chest tile value
  data/startup/tables/tile.lua
Labels: Review: Completed, Test: Passed

#1972 Dangerous Depths - Revert Boss Time
  data/scripts/actions/quests/dangerous_depth/using_crystals.lua
  data/scripts/creaturescripts/quests/dangerous_depths/bosses_mission_depths.lua
Labels: Review: Needed, Test: Needed

#2047 Tibia raining with thunder
  config.lua.dist
  data/global.lua
  data/lib/core/player.lua
  data/scripts/globalevents/others/rain.lua
  src/configmanager.cpp
  src/configmanager.h
  src/luascript.cpp
Labels: Review: Needed, Test: Needed

#2053 Fixed: Monsters stepdancing and place creature in field
  src/map.cpp
  src/monster.cpp
  src/monster.h
  src/tile.cpp
Labels: Priority: Medium, Review: Needed, Test: Needed

#2072 Fixed First Dragon Quest CreateMonster/Clean Area
  data/scripts/movements/quests/first_dragon/entrance_teleport.lua
Labels: Review: Needed, Test: Needed

#2074 Fix helmet lootTypeName
  src/items.cpp
Labels: Review: Needed, Test: Needed

#2005 Feat: Bestiary CPP and others
  data/events/scripts/monster.lua
  data/events/scripts/player.lua
  data/global.lua
  data/lib/core/container.lua
  data/lib/others/boosted_creature.lua
  data/lib/others/others.lua
  data/migrations/8.lua
  data/migrations/9.lua
  data/modules/modules.xml
  data/modules/scripts/bestiary/assets.lua
  data/modules/scripts/bestiary/bestiary.lua
  data/modules/scripts/gamestore/init.lua
  data/modules/scripts/prey_system/prey.lua
  data/scripts/actions/tools/skinning.lua
  data/scripts/creaturescripts/others/login.lua
  data/scripts/lib/register_bestiary_charm.lua
  data/scripts/lib/register_monster_type.lua
  data/scripts/modules/bestiary_charms.lua
  src/CMakeLists.txt
  src/combat.cpp
  src/const.h
  src/enums.h
  src/game.cpp
  src/game.h
  src/iobestiary.cpp
  src/iobestiary.h
  src/iologindata.cpp
  src/luascript.cpp
  src/luascript.h
  src/monster.cpp
  src/monster.h
  src/monsters.cpp
  src/monsters.h
  src/otserv.cpp
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
  src/spawn.cpp
  vc14/otservbr-global.vcxproj
Labels: Review: Needed, Status: Completed, Test: Needed, Type: Enhancement

#2087 Fix #2085 Parry charm chance
  data/scripts/modules/bestiary_charms.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2070 Kilmaresh quest: Fafnar's wrath
  data/items/items.xml
  data/lib/core/storages.lua
  data/npc/eshaya.xml
  data/npc/scripts/ambassador_of_rathleton.lua
  data/npc/scripts/eshaya.lua
  data/npc/scripts/faloriel.lua
  data/npc/scripts/moe.lua
  data/npc/scripts/the_empress.lua
  data/npc/scripts/the_librarian.lua
  data/scripts/actions/other/gems.lua
  data/scripts/actions/quests/kilmaresh/estatua.lua
  data/scripts/actions/quests/kilmaresh/goldenmask.lua
  data/scripts/actions/quests/kilmaresh/ivorymask.lua
  data/scripts/actions/quests/kilmaresh/memory1.lua
  data/scripts/actions/quests/kilmaresh/memory2.lua
  data/scripts/actions/quests/kilmaresh/memory3.lua
  data/scripts/actions/quests/kilmaresh/mirror1.lua
  data/scripts/actions/quests/kilmaresh/mirror2.lua
  data/scripts/actions/quests/kilmaresh/mirrormask.lua
  data/scripts/actions/quests/kilmaresh/paper.lua
  data/scripts/actions/quests/kilmaresh/papertile.lua
  data/scripts/actions/quests/kilmaresh/potion.lua
  data/scripts/actions/quests/kilmaresh/scrolls.lua
  data/scripts/actions/quests/kilmaresh/silvermask.lua
  data/scripts/quests/kilmaresh/1-fafnars-wrath/2-ambassadors-treason.lua
  data/scripts/quests/kilmaresh/1-fafnars-wrath/3-urmahlullu-the-immaculate.lua
  data/scripts/quests/kilmaresh/1-fafnars-wrath/6-mind-travel.lua
  data/scripts/quests/kilmaresh/1-fafnars-wrath/7-four-masks.lua
  data/scripts/quests/kilmaresh/1-fafnars-wrath/8-blessing-the-statues.lua
  data/startup/others/bitwise_flags.lua
  data/startup/others/others.lua
  data/startup/tables/item.lua
  data/startup/tables/tile.lua
Labels: Review: Needed, Test: Needed

#2089 Fix guild bank not working
  src/game.cpp
  src/guild.h
  src/ioguild.cpp
  src/ioguild.h
  src/luascript.cpp
  src/luascript.h
Labels: Review: Needed, Test: Needed

#2094 Fix being able to push someone training
  data/events/events.xml
  data/events/scripts/player.lua
Labels: Review: Needed, Test: Needed

#2095 Fixed urmahlullu lever
  data/scripts/quests/kilmaresh/1-fafnars-wrath/3-urmahlullu-the-immaculate.lua
Labels: Review: Completed, Test: Passed

#2096 Fixed missing shoot type effect for scripted ammunitions
  data/scripts/weapons/scripts/burst_arrow.lua
  data/scripts/weapons/scripts/diamond_arrow.lua
  data/scripts/weapons/scripts/viper_star.lua
Labels: Review: Needed, Test: Needed

#2127 Fix familiars login and vocation id
  data/scripts/creaturescripts/others/familiars.lua
Labels: Review: Needed, Test: Needed

#2115 Fix NPC Jamesfrancis
  data/npc/scripts/jamesfrancis.lua
Labels: Review: Needed, Test: Needed

#2112 Fixed #2098
  data/scripts/actions/other/baking.lua
Labels: Review: Needed, Test: Needed

#2184 Enhancement: monster:addHealth() function
  data/npc/scripts/santiago.lua
  data/scripts/actions/other/fireworks_rocket.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/aftershock_transform.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/charged_anomaly_death.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/charging_out_death.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/crackler_transform.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/depolarized_transform.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/eradicator_transform.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/foreshock_transform.lua
  data/scripts/creaturescripts/quests/heart_of_destruction/shocks_death.lua
  data/scripts/movements/quests/heart_of_destruction/vortex_anomaly.lua
  data/spells/scripts/monster/outburst explode.lua
  src/luascript.cpp
Labels: Test: Passed

#2160 Fix carlin cult
  data/scripts/creaturescripts/quests/cults_of_tibia/carlin_vortex_spawn.lua
Labels: Review: Completed, Test: Passed

#2171 Fix: Reflection crash
  src/game.cpp
Labels: Review: Completed, Test: Passed

#2140 Fix #2116: Hireling + charm talkaction
  data/scripts/talkactions/god/charms.lua
  data/startup/others/hireling_lib.lua
  src/iobestiary.cpp
  src/iobestiary.h
  src/luascript.cpp
  src/luascript.h
  src/player.h
Labels: Review: Needed, Status: Completed, Test: Needed

#2174 items.xml now warns about duplicated items
  data/items/items.xml
  src/items.cpp
Labels: Review: Completed, Test: Passed

#2176 fix: guzzlemaw grud, resolves #2161
  data/items/items.xml
Labels: Review: Needed, Test: Needed
