Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-08, with the labels that each got.

#2653 Add save interval time
  config.lua.dist
  data/scripts/globalevents/customs/save_interval.lua
  src/config/configmanager.cpp
  src/config/configmanager.h
  src/lua/scripts/luascript.cpp
Labels: data, source

#2675 Fix threatened dreams and killing in the name of storage overlap
  data/lib/core/storages.lua
  data/scripts/actions/quests/threatened_dreams/poacher_chest.lua
  data/startup/tables/chest.lua
Labels: data

#2676 Fix Ancient Shield ItemId in Alesar
  data/npc/alesar.xml
Labels: Review: Completed, data

#2688 Fix urmahlullu the weakened duplicated loot
  data/monster/quests/kilmaresh/urmahlullu_the_weakened.lua
Labels: data

#2674 Fix all random crashes generated by protocolgame.cpp #2670
  src/game/game.cpp
  src/game/game.h
  src/lua/modules/modules.cpp
  src/lua/modules/modules.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
Labels: Review: Completed, Test: Needed, source

#2682 Fix bug exp stage
  data/events/scripts/player.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/talkactions/player/server_info.lua
Labels: Test: Completed, Review: Completed, Status: Completed, data

#2683 Fix boss reward bug and hungry conditions
  data/scripts/creaturescripts/others/boss_reward_chest.lua
  src/server/network/protocol/protocolgame.cpp
Labels: Test: Completed, Review: Completed, Status: Completed, data, source

#2699 Resolves #2696, added the vocation base id and the functions to manage it instead of the "client id"
  data/XML/vocations.xml
  data/lib/tables/vocation.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/npc/lib/npcsystem/customModules.lua
  data/npc/scripts/a_dead_bureaucrat1.lua
  data/npc/scripts/a_dead_bureaucrat4.lua
  data/npc/scripts/alexander.lua
  data/npc/scripts/asima.lua
  data/npc/scripts/duria.lua
  data/npc/scripts/fenech.lua
  data/npc/scripts/garamond.lua
  data/npc/scripts/gerimor.lua
  data/npc/scripts/gregor.lua
  data/npc/scripts/inkaef.lua
  data/npc/scripts/khanna.lua
  data/npc/scripts/ormuhn.lua
  data/npc/scripts/puffels.lua
  data/npc/scripts/rachel.lua
  data/npc/scripts/ser_tybald.lua
  data/npc/scripts/thorwulf.lua
  data/npc/scripts/topsy.lua
  data/npc/scripts/trisha.lua
  data/npc/scripts/tristan.lua
  data/npc/scripts/uso.lua
  data/npc/scripts/xodet.lua
  data/npc/scripts/zarak.lua
  data/scripts/actions/other/enchanting.lua
  data/scripts/actions/other/potions.lua
  data/scripts/actions/quests/elemental_spheres/lever.lua
  data/scripts/actions/quests/elemental_spheres/machine1.lua
  data/scripts/actions/quests/elemental_spheres/soils2.lua
  data/scripts/actions/quests/others/desert_dungeon_lever_quest.lua
  data/scripts/creaturescripts/others/familiars.lua
  data/scripts/movements/quests/elemental_spheres/soil_entrance.lua
  data/scripts/movements/quests/kilmaresh/tpvoc.lua
  data/scripts/movements/quests/pits_of_inferno/fire_tile.lua
  data/spells/scripts/monster/eruption of destruction explosion.lua
  data/spells/scripts/monster/gaz'haragoth death.lua
  data/spells/scripts/monster/lisa skill reducer.lua
  data/spells/scripts/monster/mawhawk ue.lua
  data/spells/scripts/monster/prince drazzak druid.lua
  data/spells/scripts/monster/prince drazzak knight.lua
  data/spells/scripts/monster/prince drazzak paladin.lua
  data/spells/scripts/monster/prince drazzak sorcerer.lua
  data/spells/scripts/monster/tenebris ultimate.lua
  data/spells/scripts/summon/familiars.lua
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
Labels: data, source, Test: Needed, Review: Needed

#2686 Support to rates regen, spell cooldown and attack speeds
  config.lua.dist
  data/XML/vocations.xml
  data/events/scripts/player.lua
  data/lib/core/player.lua
  data/lib/others/daily_reward_lib.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/creaturescripts/others/offline_training.lua
  src/config/configmanager.cpp
  src/config/configmanager.h
  src/creatures/combat/combat.cpp
  src/creatures/combat/condition.cpp
  src/creatures/combat/condition.h
  src/creatures/combat/spells.cpp
  src/creatures/combat/spells.h
  src/creatures/players/player.cpp
  src/creatures/players/vocations/vocation.cpp
  src/creatures/players/vocations/vocation.h
  src/items/bed.cpp
  src/items/items.cpp
  src/items/items.h
  src/lua/creature/movement.cpp
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
Labels: Type: Enhancement, Test: Completed, Review: Completed, Status: Completed, data, source

#2690 Sort loot of monsters to try most rare itens first
  config.lua.dist
  data/scripts/lib/register_monster_type.lua
  docker/docker-compose.yml
  src/config/configmanager.cpp
  src/config/configmanager.h
  src/lua/scripts/luascript.cpp
Labels: Test: Completed, docker, Review: Completed, Status: Completed, data, source

#2704 Fix gain stamina in training
  data/events/scripts/creature.lua
  data/events/scripts/player.lua
  data/global.lua
Labels: data

#2708 Fix monster loot items stages display on bestiary
  src/io/iobestiary.cpp
  src/server/network/protocol/protocolgame.cpp
Labels: source
