Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-09, with the labels that each got.

#2710 Fix decaying items crash in bosses #2709
  data/lib/others/reward_boss_lib.lua
Labels: data

#2728 Changed additional player:getPosition()
  data/scripts/spells/summon/druid_familiar.lua
  data/scripts/spells/summon/knight_familiar.lua
  data/scripts/spells/summon/paladin_familiar.lua
  data/scripts/spells/summon/sorcerer_familiar.lua
  data/scripts/spells/summon/summon_creature.lua
Labels: data

#2720 Fix spells "group and groupCooldown"
  data/scripts/spells/attack/eternal_winter.lua
  data/scripts/spells/attack/hells_core.lua
  data/scripts/spells/attack/lightning.lua
  data/scripts/spells/attack/rage_of_the_skies.lua
  data/scripts/spells/attack/strong_energy_strike.lua
  data/scripts/spells/attack/strong_flame_strike.lua
  data/scripts/spells/attack/strong_ice_strike.lua
  data/scripts/spells/attack/strong_terra_strike.lua
  data/scripts/spells/attack/ultimate_energy_strike.lua
  data/scripts/spells/attack/ultimate_flame_strike.lua
  data/scripts/spells/attack/ultimate_ice_strike.lua
  data/scripts/spells/attack/ultimate_terra_strike.lua
  data/scripts/spells/attack/wrath_of_nature.lua
  data/scripts/spells/support/blood_rage.lua
  data/scripts/spells/support/expose_weakness.lua
  data/scripts/spells/support/protector.lua
  data/scripts/spells/support/sap_strength.lua
Labels: data

#2716 Fix combat spread.
  data/monster/demons/demon.lua
Labels: data

#2718 Add missing crit damage and chance to soulpiercer
  data/items/items.xml
Labels: data

#2717 Fix summons and familiars bug
  data/scripts/creaturescripts/others/familiars.lua
  data/scripts/spells/summon/druid_familiar.lua
  data/scripts/spells/summon/knight_familiar.lua
  data/scripts/spells/summon/paladin_familiar.lua
  data/scripts/spells/summon/sorcerer_familiar.lua
  data/scripts/spells/summon/summon_creature.lua
  src/creatures/creature.cpp
  src/creatures/creature.h
  src/creatures/monsters/monster.cpp
  src/game/game.cpp
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/server/network/protocol/protocolgame.cpp
  src/utils/enums.h
Labels: data, source

#2723 Fix cooldown sudden death rune
  data/scripts/spells/runes/sudden_death.lua
Labels: data

#2724 Fix ravenous hunger name
  data/scripts/actions/quests/cults_of_tibia/bosses_levers.lua
  data/scripts/creaturescripts/quests/cults_of_tibia/bosses_mission_cults.lua
  data/scripts/creaturescripts/quests/cults_of_tibia/evaporate.lua
  data/scripts/creaturescripts/quests/cults_of_tibia/spawn_boss.lua
Labels: data

#2719 Add missing prey burning book, pirat scoundrel, hellhound and true midnight asura
  data/modules/scripts/prey_system/assets.lua
  data/modules/scripts/prey_system/prey.lua
Labels: data

#2725 Fix lever to death priest shargon and the ravager
  data/scripts/actions/quests/dark_trails/lever_death_priest_shargon.lua
  data/scripts/actions/quests/dark_trails/lever_the_ravager.lua
Labels: data

#2732 Fix prey automatic bonus #2636
  data/modules/scripts/prey_system/prey.lua
Labels: data

#2739 Add tainted soul
  data/monster/fey/tainted_soul.lua
Labels: data

#2740 Add tainted soul to prey system
  data/modules/scripts/prey_system/prey.lua
Labels: data

#2741 Fix wrong handling of spectator crashes when using "talk" from npcs menu
  src/game/game.cpp
Labels: source

#2743 Fix remove imbuing from item
  src/game/game.cpp
Labels: source

#2749 Fixes a potential crash by checking if tile is not a null pointer in Player::getClientIcons function
  src/creatures/players/player.cpp
Labels: source

#2746 Removed summon reload function and some customs functions in animated dead rune script
  data/scripts/spells/runes/animate_dead_rune.lua
  data/scripts/spells/runes/convince_creature.lua
  data/scripts/talkactions/god/create_summon.lua
Labels: data

#2751 Add all soulwar monsters to prey list
  data/modules/scripts/prey_system/assets.lua
  data/modules/scripts/prey_system/prey.lua
Labels: data

#2752 Add pointers to check if player or charm is nullptr on iobestiary.cpp
  src/io/iobestiary.cpp
Labels: source

#2754 Fix stamina gain event
  data/events/scripts/creature.lua
  data/lib/core/creature.lua
Labels: data

#2471 Warzones Fixes
  data/monster/quests/dangerous_depth/aggressive_lava.lua
  data/monster/quests/dangerous_depth/bosses/the_baron_from_below.lua
  data/monster/quests/dangerous_depth/bosses/the_duke_of_the_depths.lua
  data/monster/quests/dangerous_depth/bosses/the_duke_of_the_depths_immortal.lua
  data/monster/quests/dangerous_depth/bosses/the_hungry_baron_from_below.lua
  data/monster/quests/dangerous_depth/fiery_blood.lua
  data/monster/quests/dangerous_depth/fiery_heart.lua
  data/scripts/actions/quests/dangerous_depth/using_crystals.lua
  data/scripts/creaturescripts/quests/dangerous_depths/fiery_heart.lua
  data/scripts/creaturescripts/quests/dangerous_depths/snail_slime_kill.lua
  data/scripts/creaturescripts/quests/dangerous_depths/the_baron_from_below.lua
  data/scripts/creaturescripts/quests/dangerous_depths/the_duke_heal_fire_damage.lua
  data/scripts/spells/monster/aggresiveLavaWave.lua
  data/scripts/spells/monster/emberBeastArea.lua
  data/scripts/spells/monster/emberBeastHur.lua
Labels: data

#2760 Fix spell name: aggressivelavawave
  data/scripts/spells/monster/aggresive_lava_wave.lua
Labels: data
