Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-03, with the labels that each got.

#2446 Fix gameIsDay function
  src/game.cpp
Labels: Review: Needed, Test: Needed

#2449 Fix: Lootable human corpses and wrong monster corpses
  data/items/items.xml
  data/monster/undeads/druid's_apparition.lua
  data/monster/undeads/knight's_apparition.lua
  data/monster/undeads/paladin's_apparition.lua
  data/monster/undeads/sorcerer's_apparition.lua
Labels: Review: Needed, Test: Needed

#2452 Feature: Monster transformation into MonsterType
  data/monster/quests/soul_war/mirror_image.lua
  src/luascript.cpp
  src/luascript.h
  src/player.h
Labels: Review: Needed, Test: Needed

#2468 Fix: Loot Analyser #2456
  src/game.cpp
Labels: Review: Needed, Test: Needed

#2472 Fix Ravenous Lava Lurker
  data/monster/elementals/ravenous_lava_lurker.lua
  data/spells/scripts/monster/ravennousLavaLurkerWave.lua
  data/spells/scripts/monster/ravennousLavaLurkerWave2.lua
  data/spells/spells.xml
Labels: Review: Needed, Test: Needed

#2475 Protocol 12.64
  config.lua.dist
  data/XML/mounts.xml
  data/XML/outfits.xml
  data/items/items.otb
  data/items/items.xml
  data/modules/scripts/gamestore/gamestore.lua
  src/configmanager.cpp
  src/enums.h
  src/game.cpp
  src/game.h
  src/item.h
  src/items.cpp
  src/items.h
  src/otserv.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Review: Completed, Status: Completed, Test: Passed

#2448 Fix: Supply stash (crash/hireling)
  data/npc/scripts/hireling.lua
  data/scripts/movements/others/tiles.lua
  src/container.cpp
  src/container.h
  src/enums.h
  src/game.cpp
  src/game.h
  src/item.cpp
  src/item.h
  src/luascript.cpp
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Status: Completed

#2478 fix compilation warning on items.cpp
  src/items.cpp
Labels: Review: Needed

#2433 Features: Party list support
  config.lua.dist
  src/configmanager.cpp
  src/configmanager.h
  src/game.cpp
  src/game.h
  src/luascript.cpp
  src/party.cpp
  src/party.h
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Status: Completed, Test: Passed, Type: Missing Content
