Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-02, with the labels that each got.

#2314 Equipment & Exercise Weapons 12.6
  data/items/items.xml
  data/modules/scripts/gamestore/gamestore.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/movements/equipment/unscripted_equipments.lua
  data/scripts/weapons/unscripted_weapons.lua
  src/enums.h
  src/luascript.cpp
  src/luascript.h
  src/player.cpp
  src/player.h
Labels: Review: Needed, Test: Needed

#2341 Content: Soul war monsters
  data/monster/constructs/rotten_golem.lua
  data/monster/demons/brachiodemon.lua
  data/monster/demons/infernal_demon.lua
  data/monster/demons/many_faces.lua
  data/monster/elementals/turbulent_elemental.lua
  data/monster/extra_dimensional/courage_leech.lua
  data/monster/plants/branchy_crawler.lua
  data/monster/plants/cloak_of_terror.lua
  data/monster/quests/soul_war/mirror_image.lua
  data/monster/undeads/bony_sea_devil.lua
  data/monster/undeads/capricious_phantom.lua
  data/monster/undeads/distorted_phantom.lua
  data/monster/undeads/druid's_apparition.lua
  data/monster/undeads/infernal_phantom.lua
  data/monster/undeads/knight's_apparition.lua
  data/monster/undeads/mould_phantom.lua
  data/monster/undeads/paladin's_apparition.lua
  data/monster/undeads/sorcerer's_apparition.lua
  data/monster/undeads/vibrant_phantom.lua
Labels: Status: Completed, Type: Missing Content

#2352 Fix: Logout when player is training exercise items
  data/scripts/actions/other/exercise_training.lua
  src/player.cpp
  src/player.h
Labels: Review: Needed, Test: Needed

#2353 Fix: bath tub disappears after server save #1912
  src/iomapserialize.cpp
  src/items.h
Labels: Review: Needed, Test: Needed

#2322 feat: add webhook notifications for server start, shutdown, server save and raids
  .appveyor.yml
  .github/workflows/build-mac.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  CMakeLists.txt
  config.lua.dist
  data/scripts/globalevents/others/server_save.lua
  docker/Dockerfile.server
  src/CMakeLists.txt
  src/configmanager.cpp
  src/configmanager.h
  src/enums.h
  src/game.cpp
  src/luascript.cpp
  src/luascript.h
  src/otserv.cpp
  src/raids.cpp
  src/webhook.cpp
  src/webhook.h
  vc14/otservbr-global.vcxproj
Labels: Review: Completed, Status: Completed, Test: Passed

#2357 Fixes Dangerous Depths questlog not showing
  data/lib/core/quests.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2359 Enhancement: Supply stash update and fixes.
  data/events/scripts/player.lua
  src/CMakeLists.txt
  src/enums.h
  src/game.cpp
  src/iologindata.cpp
  src/iostash.cpp
  src/iostash.h
  src/luascript.cpp
  src/luascript.h
  src/player.cpp
  src/player.h
  src/protocolgame.cpp
  src/tools.cpp
  src/tools.h
  vc14/otservbr-global.vcxproj
Labels: Review: Needed, Test: Needed, Type: Enhancement

#2375 Fix Cledwyn enchanting
  data/npc/scripts/cledwyn.lua
Labels: Status: Completed, Test: Needed

#2369 Enhancement: Improvements in loot-analyser and monster corpse.
  data/events/scripts/player.lua
  src/container.h
  src/game.cpp
  src/luascript.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Review: Needed, Test: Needed

#2376 Rooted Condition
  data/monster/constructs/rotten_golem.lua
  data/monster/plants/branchy_crawler.lua
  data/spells/scripts/monster/root_branchy_rotten.lua
  data/spells/spells.xml
  src/condition.cpp
  src/condition.h
  src/const.h
  src/creature.cpp
  src/enums.h
  src/luascript.cpp
  src/player.cpp
Labels: Review: Needed, Test: Needed

#2377 Added missing were monster in Bestiary
  data/monster/lycanthropes/werehyaena.lua
  data/monster/lycanthropes/werehyaena_shaman.lua
  data/monster/lycanthropes/werelion.lua
  data/monster/lycanthropes/werelioness.lua
Labels: Review: Needed, Test: Needed

#2381 Feature: Team finder assemble
  src/enums.h
  src/game.cpp
  src/game.h
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Review: Needed, Test: Needed, Type: Missing Content

#2391 Mechanic of flask with snake poison on Cobra Bastion monsters spawn
  data/events/scripts/monster.lua
Labels: Test: Needed

#2379 Fix bath tub
  data/items/items.xml
  data/lib/others/bath_tube.lua
  data/scripts/actions/other/bath_tub.lua
  data/scripts/actions/other/fluids.lua
  data/scripts/movements/others/bath_tub.lua
  src/iomapserialize.cpp
  src/items.h
Labels: Review: Completed, Test: Passed

#2383 Small fixes for The New Frontier Quest
  data/npc/scripts/lazaran.lua
  data/scripts/actions/quests/the_new_frontier/vine.lua
  data/startup/tables/door_quest.lua
Labels: Review: Completed, Test: Passed

#2407 Fix - The Shattered Isles Quest
  data/npc/scripts/sandra.lua
  data/scripts/actions/quests/the_shattered_isles/tortoise_egg_nargor.lua
  data/startup/tables/item.lua
Labels: Review: Needed, Test: Needed

#2410 NPC Fixes
  data/npc/scripts/black_bert.lua
  data/npc/scripts/bo_ques.lua
Labels: Review: Completed, Test: Passed

#2423 Lady Tenebris spell fix
  data/monster/quests/forgotten_knowledge/bosses/lady_tenebris.lua
  data/spells/scripts/monster/tenebris ultimate.lua
Labels: Review: Completed, Test: Passed

#2360 Some updates in prey system.
  data/modules/scripts/prey_system/prey.lua
Labels: Review: Completed, Test: Passed

#2425 Fix: NPCs walking over objects (chests, tables, chairs, etc.)
  src/npc.cpp
Labels: Review: Completed, Test: Passed

#2437 Removes lua and ubuntu 16.04 build
  .github/workflows/build-mac.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .gitignore
  CMakeLists.txt
Labels: Status: Completed

#2400 Features: Tutorial support (tutorial before first log in)
  data/migrations/16.lua
  data/migrations/17.lua
  data/scripts/creaturescripts/others/login.lua
  schema.sql
Labels: Status: Completed, Status: On Hold, Test: Passed

#2431 Fixes gold pouch as loot container.
  src/game.cpp
Labels: Review: Needed, Test: Needed
