Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-01, with the labels that each got.

#2217 fix: stow crashing client
  data/items/items.xml
  src/item.h
  src/items.cpp
  src/items.h
Labels: Review: Completed, Status: Completed, Test: Passed

#2220 feat: golden anchor, resolves #2213
  data/scripts/actions/quests/deepling_worldchange/golden_anchor.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2218 fix: lions rock quest
  data/scripts/actions/other/gems.lua
  data/scripts/actions/quests/lions_rock/lions_rock.lua
  data/scripts/movements/quests/lions_rock/lions_rock.lua
  data/startup/tables/teleport.lua
  data/startup/tables/tile.lua
Labels: Status: Completed, Test: Needed

#2222 fix: desintegrate rune, resolves #2221
  data/spells/scripts/support/desintegrate rune.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2224 feat: reload monsters, resolves #2162
  data/scripts/talkactions/god/reload.lua
  src/const.h
  src/game.cpp
  src/luascript.cpp
Labels: Review: Completed, Status: Completed, Test: Passed

#2225 feat: bag you desire, resolves #2099
  data/scripts/actions/other/bag_you_desire.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2193 Fix name item id="29288"
  data/items/items.xml
Labels: Status: Completed

#2130 Changeable npc currency
  data/npc/cledwyn.xml
  data/npc/scripts/cledwyn.lua
  data/npc/scripts/yana.lua
  data/npc/yana.xml
  src/luascript.cpp
  src/luascript.h
  src/npc.cpp
  src/npc.h
  src/protocolgame.cpp
Labels: Review: Completed, Status: Completed, Test: Passed

#2189 fix: lua52 unpack compatibility, feat: doSetCreatureLight
  data/lib/compat/compat.lua
Labels: Status: Completed, Test: Needed

#2207 Daily Reward Support for login.php
  data/migrations/11.lua
  data/migrations/12.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/scripts/globalevents/others/startup.lua
  src/iologindata.cpp
  src/luascript.cpp
  src/luascript.h
  src/player.h
Labels: Review: Completed, Status: Completed, Test: Passed

#2051 Move players to their temple
  data/scripts/globalevents/update.lua
  data/update.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2244 Fix reward status on character list
  data/migrations/11.lua
  data/modules/scripts/daily_reward/daily_reward.lua
  data/scripts/globalevents/others/startup.lua
  src/enums.h
  src/luascript.cpp
  src/player.h
Labels: Review: Completed, Status: Completed, Test: Passed

#2249 [Custom] Free Quests system
  config.lua.dist
  data/lib/core/storages.lua
  data/scripts/creaturescripts/customs/freequests.lua
  data/scripts/globalevents/customs/rain.lua
  src/configmanager.cpp
  src/configmanager.h
  src/luascript.cpp
Labels: Review: Completed, Status: Completed, Test: Passed

#2113 Fix for Ferumbras Ascendant Entrance
  data/scripts/movements/quests/ferumbras_ascendant/entrance.lua
  data/scripts/movements/quests/ferumbras_ascendant/stair.lua
Labels: Review: Completed, Status: Completed, Test: Passed

#2227 fix: boosted creature gesior
  data/migrations/12.lua
  data/migrations/13.lua
  src/game.cpp
Labels: Review: Completed, Status: Completed, Test: Passed

#2255 Fix sending letters
  src/mailbox.cpp
Labels: Review: Completed, Status: Completed, Test: Passed

#2254 Fix #2253 - manaspent to bigint
  data/migrations/13.lua
  data/migrations/14.lua
  schema.sql
Labels: Status: Completed, Test: Needed

#2235 Improvement: Event scheduler 'scripts'
  data/XML/events.xml
  data/events/scripts/scheduler/example.lua
  src/game.cpp
  src/otserv.cpp
  src/script.cpp
  src/script.h
Labels: Review: Needed, Status: Completed, Type: Enhancement

#2191 Kick players while they are attacking or attacked by monsters (when afk)
  src/player.cpp
  src/player.h
Labels: Review: Completed, Status: Completed, Test: Needed

#2186 round down required mana
  src/vocation.cpp
Labels: Review: Needed, Test: Needed

#2173 Fix summons & familiars
  data/events/events.xml
  data/events/scripts/creature.lua
  data/events/scripts/player.lua
  data/lib/core/storages.lua
  data/monster/summons/druid_familiar.lua
  data/monster/summons/knight_familiar.lua
  data/monster/summons/paladin_familiar.lua
  data/monster/summons/sorcerer_familiar.lua
  data/scripts/creaturescripts/others/familiars.lua
  data/scripts/creaturescripts/others/login_events.lua
  data/scripts/creaturescripts/others/summon.lua
  data/scripts/globalevents/others/startup.lua
  data/scripts/talkactions/god/create_summon.lua
  data/spells/scripts/summon/familiars.lua
  data/spells/scripts/summon/summons.lua
  data/spells/spells.xml
  src/creature.cpp
  src/creature.h
  src/enums.h
  src/monster.cpp
  src/protocolgame.cpp
  src/tile.cpp
Labels: Review: Completed, Status: Completed

#2232 Accurate magic level and skill level percentages
  src/player.cpp
  src/player.h
Labels: Review: Completed, Test: Needed

#2190 Fix Rashid's daily travel routine
  data/scripts/globalevents/spawn/rashid.lua
Labels: Review: Completed, Status: Completed, Test: Needed

#2238 Updated sample players values
  data/migrations/15.lua
  data/migrations/16.lua
  schema.sql
Labels: Review: Needed, Test: Needed

#2296 Fix: Protocol login version + config.lua support
  src/configmanager.cpp
  src/configmanager.h
  src/definitions.h
  src/luascript.cpp
  src/otserv.cpp
  src/protocolgame.cpp
  src/protocolgame.h
  src/protocolstatus.cpp
Labels: Status: Completed, Test: Passed

#2300 Spellbooks fix
  data/scripts/actions/spellbook.lua
Labels: Status: Completed

#2297 Dawnport vocations extinction and other dawnport fixes
  data/XML/vocations.xml
  data/events/scripts/player.lua
  data/items/items.xml
  data/lib/others/dawnport_lib.lua
  data/lib/tables/vocation.lua
  data/npc/scripts/captain_dreadnought.lua
  data/npc/scripts/inigo.lua
  data/npc/scripts/oressa.lua
  data/scripts/actions/dawnport/vocation_door.lua
  data/scripts/actions/quests/dawnport/vocation_reward.lua
  data/scripts/creaturescripts/others/advance_save.lua
  data/scripts/creaturescripts/others/dawnport.lua
  data/scripts/creaturescripts/others/dawnport_max_level.lua
  data/scripts/creaturescripts/others/dawnport_set_stat.lua
  data/scripts/movements/equipment/dawnport_equipments.lua
  data/scripts/movements/equipment/unscripted_equipments.lua
  data/scripts/movements/others/dawnport_tiles.lua
  data/scripts/movements/others/dawnport_vocation_trial.lua
  data/scripts/spells/170-bruise_bane.lua
  data/scripts/spells/172-magic_patch.lua
  data/scripts/spells/173-chill_out.lua
  data/scripts/spells/174-mud_attack.lua
  data/scripts/spells/176-arrow_call.lua
  data/scripts/spells/177-buzz.lua
  data/scripts/spells/178-scorch.lua
  data/spells/scripts/attack/buzz.lua
  data/spells/scripts/attack/chill_out.lua
  data/spells/scripts/attack/mud_attack.lua
  data/spells/scripts/attack/scorch.lua
  data/spells/scripts/conjuring/arrow_call.lua
  data/spells/scripts/healing/bruise_bane.lua
  data/spells/scripts/healing/magic_patch.lua
  data/spells/spells.xml
  data/startup/tables/tile.lua
  src/enums.h
  src/luascript.cpp
  src/luascript.h
  src/player.cpp
Labels: Review: Needed, Test: Needed

#2310 Fixed walkable over quest chests
  data/scripts/movements/others/walkback.lua
Labels: Review: Needed, Test: Needed

#2302 Update to protocol 12.61
  config.lua.dist
  data/items/items.otb
  data/items/items.xml
  data/scripts/actions/other/carpets.lua
  src/configmanager.cpp
  src/player.h
  src/protocolgame.cpp
  src/protocolgame.h
Labels: Status: Completed, Test: Passed

#2309 Fix loadLuaMapBook function
  data/scripts/globalevents/others/startup.lua
  data/startup/others/functions.lua
  data/startup/tables/writeable.lua
Labels: Review: Needed, Test: Needed

#2286 Feature: equip/deequip event by actionid
  src/movement.cpp
Labels: Review: Completed, Test: Needed

#2320 Fix: Bestiary 100% CPU and search method.
  src/protocolgame.cpp
Labels: Priority: Critical, Review: Needed, Test: Needed
