Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-06, with the labels that each got.

#2610 Fix item charge description in shop
  src/items/item.cpp
Labels: source

#2611 Fix connection lost info after offline training logout
  src/server/network/protocol/protocolgame.cpp
  src/utils/enums.h
Labels: source

#2600 Update unscripted equipments
  data/scripts/movements/equipment/unscripted_equipments.lua
Labels: data

#2643 Fix druid and sorc first wand
  data/npc/scripts/alexander.lua
  data/npc/scripts/asima.lua
  data/npc/scripts/fenech.lua
  data/npc/scripts/inkaef.lua
  data/npc/scripts/khanna.lua
  data/npc/scripts/rachel.lua
  data/npc/scripts/topsy.lua
  data/npc/scripts/xodet.lua
Labels: data

#2631 Update npc telas golem
  data/npc/telas_golem.xml
Labels: data

#2642 Fix connection lost bug
  data/scripts/creaturescripts/others/login.lua
Labels: data

#2630 Fix frag time
  config.lua.dist
  src/config/configmanager.cpp
Labels: source

#2618 Webhook expansion
  data/scripts/custom/discord_specialwebhook.lua
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/server/network/webhook/webhook.cpp
  src/server/network/webhook/webhook.h
Labels: data, source

#2621 Fix the sharttered isles quest energy barrier
  data/scripts/movements/quests/the_sharttered_isles/energy_barrier.lua
  data/startup/tables/item.lua
Labels: data

#2622 Add npcs h.l. and nicholas
  data/startup/tables/npc_spawn.lua
Labels: data

#2623 Fix dreamer's challenge quest tic tac
  data/scripts/actions/quests/dreamer_challenge/tic_tac.lua
Labels: data

#2624 Fix clearBossRoom function
  data/scripts/movements/quests/killing_in_the_name_of/boss.lua
Labels: data
