Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-04, with the labels that each got.

#2509 Add/Improve some workflows
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/build-ubuntu.yml
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/stale.yml
  README.md
Labels: Status: Completed

#2526 Update log format and update docker builld
  .travis.yml
  docker/data/01-test_account.sql
  docker/data/02-test_account_players.sql
  docker/data/test_account.sql
  docker/docker-compose.yml
  docker/mysql/Dockerfile
  docker/server/Dockerfile
  docker/test-server.sh
  src/otserv.cpp
Labels: Status: Completed, docker, source

#2527 Improve docker cache
  docker/server/Dockerfile
  docker/test-server.sh
Labels: docker

#2532 Add GHA badges
  .travis.yml
  CMakeLists.txt
  README.md
Labels: Status: Completed

#2531 Fix loot analyser
  src/container.cpp
  src/container.h
  src/game.cpp
Labels: source

#2536 Fix looktype Ancient Spawn of Morgathla
  data/monster/quests/dangerous_depth/bosses/ancient_spawn_of_morgathla.lua
Labels: data

#2535 Summon Familiar fix
  data/monster/summons/druid_familiar.lua
  data/monster/summons/knight_familiar.lua
  data/monster/summons/paladin_familiar.lua
  data/monster/summons/sorcerer_familiar.lua
Labels: data

#2534 Fix checks notes
  .appveyor.yml
  .editorconfig
  .github/FUNDING.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog.yml
  .github/workflows/stale.yml
  .gitignore
  .reviewdog.yml
  CMakeLists.txt
  CMakeSettings.json
  README.md
  cmake/otservbr-global.ico
  cmake/otservbr-global.rc
  src/CMakeLists.txt
  src/combat.cpp
  src/const.h
  src/creature.cpp
  src/game.cpp
  src/mailbox.cpp
  src/protocolgame.cpp
  vc14/arch32.props
  vc14/arch64.props
  vc14/debug.props
  vc14/otservbr-global.sln
  vc14/otservbr-global.vcxproj
  vc14/release.props
  vc14/settings.props
  vcpkg.json
Labels: Status: Completed, source

#2546 Fix Docker Connections
  docker/data/login.py
  docker/docker-compose.yml
Labels: docker

#2543 Addition of callbacks to the npcs shop (npc-revscripts branch)
  .appveyor.yml
  .editorconfig
  .github/FUNDING.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog.yml
  .github/workflows/stale.yml
  .reviewdog.yml
  CMakeLists.txt
  README.md
  cmake/otservbr-global.ico
  cmake/otservbr-global.rc
  data/lib/compat/compat.lua
  data/lib/npc/npc.lua
  data/monster/quests/dangerous_depth/bosses/ancient_spawn_of_morgathla.lua
  data/monster/summons/druid_familiar.lua
  data/monster/summons/knight_familiar.lua
  data/monster/summons/paladin_familiar.lua
  data/monster/summons/sorcerer_familiar.lua
  data/npclua/a_bearded_woman.lua
  data/npclua/a_beautiful_girl.lua
  data/npclua/a_beggar.lua
  data/npclua/black_bert.lua
  data/npclua/captain_bluebear.lua
  data/npclua/zurak_arena.lua
  src/CMakeLists.txt
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/npcs/npc.cpp
  src/creatures/npcs/npc.h
  src/creatures/npcs/npcs.cpp
  src/creatures/npcs/npcs.h
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/game/game.h
  src/items/containers/mailbox/mailbox.cpp
  src/lua/callbacks/creaturecallback.h
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/server/network/protocol/protocolgame.cpp
  src/server/network/protocol/protocolgame.h
  src/utils/const.h
  src/utils/enums.h
  vcpkg.json
Labels: data, source

#2533 correction of the feyrist access message
  data/scripts/actions/other/gems.lua
Labels: data

#2542 Add missing table of myaac to guilds
  data/migrations/17.lua
  data/migrations/18.lua
  schema.sql
Labels: data

#2551 Fix familiar blocking login #2550
  data/scripts/creaturescripts/others/familiars.lua
Labels: data

#2556 Add "Spdlog" method to migrations interface
  src/databasemanager.cpp
  src/luascript.cpp
  src/luascript.h
Labels: source
