Repository opentibiabr/otservbr-global-archived, pull requests merged in 2021-10, with the labels that each got.

#2762 Better handling on create summon talkaction and fix summon icon
  data/scripts/talkactions/god/create_summon.lua
Labels: data

#2772 Better handling of the Game::checkCreatures function
  src/game/game.cpp
  src/game/game.h
Labels: source

#2703 [Improvement] Rework on exercise weapons system
  config.lua.dist
  data/events/scripts/player.lua
  data/global.lua
  data/lib/tables/exercise_training.lua
  data/lib/tables/table.lua
  data/modules/scripts/gamestore/init.lua
  data/scripts/actions/other/exercise_training.lua
  data/scripts/creaturescripts/others/login.lua
  data/scripts/creaturescripts/others/logout.lua
  src/config/configmanager.cpp
  src/config/configmanager.h
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/creatures/players/player.h
  src/game/game.cpp
  src/lua/scripts/luascript.cpp
  src/lua/scripts/luascript.h
  src/server/network/protocol/protocolgame.cpp
Labels: Stale, data, source

#2771 Added correct behavior and improved function for gain stamina on trainer
  data/lib/core/creature.lua
Labels: data

#2774 Add pointer to check if "it" is nullptr
  src/creatures/players/player.cpp
Labels: source

#2756 [Enhancement] - Optimize decay
  data/items/items.xml
  src/CMakeLists.txt
  src/creatures/combat/combat.cpp
  src/creatures/creature.cpp
  src/creatures/players/player.cpp
  src/game/game.cpp
  src/game/game.h
  src/io/iologindata.cpp
  src/items/containers/container.cpp
  src/items/containers/container.h
  src/items/containers/depot/depotchest.h
  src/items/containers/depot/depotlocker.h
  src/items/containers/inbox/inbox.h
  src/items/decay/decay.cpp
  src/items/decay/decay.h
  src/items/item.cpp
  src/items/item.h
  src/lua/creature/movement.cpp
  src/lua/scripts/luascript.cpp
  src/utils/enums.h
  src/utils/tools.cpp
Labels: data, source
